* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: questrial;
  padding: 20px;
  background: #D38F5F;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #810E44;
  color: white;
  font-family: futura;
}

h2, h1 {
  font-family: futura;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
img {
    max-width: 100%;
    max-height: 100%;
}

/* Add a card effect for articles */
.card {
   background-color: #FCF2EE;
   padding: 20px;
   margin-top: 20px;
}
.code {
   padding: 5px;
   padding-left: 15px;
   background-color: #DADADA;
   font-family: consolas;
}
.sidecard {
   background-color: #810E44;
   padding: 20px;
   margin-top: 20px;
   color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	  cursor: pointer;
	color: white;
	  text-decoration: underline;
}

a:link {
	color: white;
  cursor: pointer;
  background-color: transparent; 
}

a:visited {
  cursor: pointer;
	color: white;
  background-color: transparent;
}

a:active {
  cursor: pointer;
	color: white;
  background-color: transparent;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Toggle Arrow Drop Downs */
.koh-faqs-page-title {
  font-family: Nexa W01 Heavy;
  font-size: 30px;
  color: #04202E;
  font-weight: 700;
}

.koh-faq-question-span {
  display: inline-block;
}

.koh-faq-answer {
  display: none;
}

.icon {
  font-size: 10px;
  padding-right: 5px;
}

.fa {
  transition: transform .2s;
}

.fa.active {
  transform: rotateZ(90deg);
}


/* FONTS */
@font-face {
  font-family: 'questrial';
  src: url('font_questrial.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('font_questrial.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 
@font-face {
  font-family: 'futura';
  src: url('font_futura.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('font_futura.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

